venv/
__pycache__/
*.pyc
.env
.DS_Store
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
models/*.ckpt
models/*.pt
models/*.joblib
.ipynb_checkpoints/
reports/
.pytest_cache/
